.footer {
	background-color: var(--color102);
	text-align: center;
	font-size: 14px;
	color: var(--color104);
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	padding: 10px;
	box-sizing: border-box;
}