.footer {
  background-color: #f8f9fa;
  text-align: center;
  font-size: 14px;
  color: #6c757d;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}