.loginForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 400px;
    margin: auto;
    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        input {
            padding: 0.5rem;
            border: 1px solid var(--color104);
            border-radius: 4px;
            font-size: 1rem;
        }
        .error {
            color: var(--color500);
            font-size: 0.875rem;
        }
        button {
            padding: 0.5rem;
            border: none;
            border-radius: 4px;
            background-color: var(--color100);
            color: white;
            font-size: 1rem;
            cursor: pointer;
            &:hover {
                background-color: var(--color101);
            }
        }
    }
}